@font-face
{
    font-family: nunito;
    src: url(../fonts/Nunito-SemiBold.ttf);
}

body
{
    font-family: nunito;
}

.header_bar
{
    height: 10vh;
    width: 99vw;
    font-family: nunito;
    font-size: 5vh;
}
.about_tab
{
    width: 33vw;
    height: 10vh;
    float: left;
    text-align: center;
}
.about_tab img
{
    max-width: 33vw;
    max-height: 10vh;
    object-fit: contain;
}
.about_tab img:hover
{
    max-width: 33vw;
    max-height: 10vh;
    object-fit: contain;
    cursor: pointer;
}
.classroom_tab
{
    display: none;
    width: 33vw;
    height: 10vh;
    float: left;
    text-align: center;
}
.classroom_tab:hover
{
    width: 33vw;
    height: 10vh;
    float: left;
    text-align: center;
    color:#00BB77;
    cursor: pointer;
}
.bibcache_tab
{
    display: none;
    width: 33vw;
    height: 10vh;
    float: left;
    text-align: center;
}
.bibcache_tab:hover
{
    width: 33vw;
    height: 10vh;
    float: left;
    text-align: center;
    color:#00BB77;
    cursor: pointer;
}
.contentZone
{
    height: 85vh;
    width: 99vw;
    vertical-align: top;
}
.login_page
{
    display: block;
}
.misVis
{
    padding-top: 20vh;
    padding-bottom: 20vh;
    padding-left: 10vw;
    padding-right: 5vw;
    width: 45vw;
    float: left;
    background: #EEFFF9;
    height: 48vh;
    overflow: hidden;
}
.misVis h2
{
    font-size: 4vh;
}
.misVis p
{
    text-align: justify;
}
.login
{
    float: left;
    text-align: left;
    background: #7EFFD0;
    height: 68vh;
    width: 34vw;
    font-weight: bold;
    padding-top: 20vh;
    padding-left: 5vw;
}
.login input
{
    margin: auto;
    margin-bottom: 1.5vh;
    margin-top: 1.5vh;
    padding-bottom: 1vh;
    padding-top: 1vh;
    width: 30vw;
}
.login input[type=text]
{
    color: grey;
}
.login input[type=button]
{
    font-weight: bold;
    background: #AAD1C3;
}
.login input[type=button]:hover
{
    font-weight: bold;
    cursor: pointer;
    background-color: white;
}
.about
{
    display: none;
}
.classroom
{
    display: none;
    height: 85vh;
}
.jitsi
{
    float: left;
    width: 54vw;
    height: 83vh;
}
.jitsi iframe
{
    width: 54vw;
    height: 83vh;
}
.board
{
    padding-right: 1vw;
    float: right;
    width: 43vw;
    height: 83vh;
}
.board iframe
{
    width: 43vw;
    height: 83vh;
}
.bibcache
{
    display: none;
}
#joinLink
{
    text-align: center;
}